<!DOCTYPE html>
<html>
<head>
	<title>Marmoset | Error</title>
</head>
<body>
<h1>Database Error</h1>
<h2>There was a problem with the MongoDB database or query.</h2>
<p>Error: <%= err %></p>
<p>Details: <%= result %></p>
</body>
</html>